<div style="border: 1px solid black; padding: 5px; margin: 5px; text-align: center;" id="header-div">
    <h1>
        <a href="{{ path('home') }}">Symfony: templating</a>
    </h1>
    <p>Esto es la zona para la cabecera.</p>
    {% if arrayMenu is defined %}
        {% for arrayMenuItem in arrayMenu %}
            <a href="{{ path(arrayMenuItem) }}">{{ arrayMenuItem }}</a>
        {% endfor %}
    {% endif %}
</div>
