<div style="border: 1px solid black; padding: 5px; margin: 5px; text-align: center;">
    <p>Esto es una zona para el pie de página.</p>
    <p>Tutoriales sobre Symfony Flex, Symfony 4, jnjsite.com.</p>
</div>
