{% extends 'base.html.twig' %}

{% block title %}JnjSite.com ejemplo de página corporativa{% endblock %}

{% block body %}

    <div style="background-color: #808080; border-radius: 20px; box-shadow: 5px 5px 5px 0 black; padding: 20px;">
        <h1>Esto es una página corporativa</h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac aliquam lorem. Aliquam quis dui eu elit suscipit venenatis sollicitudin sed est. Proin eu tincidunt justo. Aenean tincidunt nec ex ac auctor. Donec faucibus mauris orci, vitae
        efficitur nibh fringilla hendrerit. Cras gravida eros id diam varius pellentesque. Nulla dapibus dapibus purus blandit blandit. Praesent sodales nulla a felis tincidunt placerat. In in sodales diam. Curabitur blandit, leo ut bibendum rutrum, magna
        justo malesuada tortor, at mollis dui urna sit amet odio. Sed euismod, ante non blandit vestibulum, magna nibh iaculis odio, nec luctus nisl odio non nunc. Duis erat libero, accumsan sed justo in, varius egestas ex. Vestibulum rutrum nulla tincidunt
        risus feugiat hendrerit. Quisque sed quam placerat elit eleifend varius. Pellentesque quam nulla, faucibus eget mollis id, elementum ultrices massa.</p>

    <p>Donec lobortis nunc sit amet mattis tincidunt. Praesent dapibus augue at nulla sagittis, nec ultricies nibh faucibus. Fusce a luctus dui. Praesent venenatis, neque sed condimentum gravida, sem mauris mattis eros, eget malesuada ex ipsum quis erat.
        Etiam mauris odio, malesuada quis convallis at, molestie sit amet enim. In dictum, ipsum id viverra tempus, lorem felis rhoncus lorem, sit amet elementum dolor dui et orci. Phasellus suscipit purus ut ex efficitur consectetur sit amet non magna.
        Praesent tincidunt, est at finibus auctor, nisl nisi pulvinar diam, ut rhoncus lorem nulla iaculis eros.</p>

    <div style="background-color: #aa5; border-radius: 20px; box-shadow: 5px 5px 5px 0 black; padding: 20px; margin: 0px 100px;">
        <h2>Formulario de contacto</h2>
        {{ form(contactForm) }}
    </div>

{% endblock %}
